*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-font-smoothing:antialiased;
}
img{
	max-width: 100%;
	height: auto;
	border: 0;
}
a{
	color: #999;
	text-decoration: none;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
body{
	background: #fff ;
	border-top: 5px solid rgb(41,37,38);
	font-family: 'Open Sans',"Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 18px;
	color: rgb(41,37,38);
	line-height: 1.5;
}
/*.overlay{
	background: rgba(0,0,0,.4);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;

}*/
section{
	background: #fff;
	border-radius: 10px;
	margin: 80px auto 50px;
	padding:10px;
	max-width: 600px;
	text-align: center;
	z-index: 1;
}
section h2{
	font-size: 18px;
	text-transform: uppercase;
	line-height: 2.5em;
}
section h1{
	font-size: 22px;
	display: block;
	letter-spacing: 3px;
}
section em{
	font-size: 13px;
	letter-spacing: 1px;
}
 input[type="email"]{
 	background-color: transparent;
	padding: 12px;
	border: 1px solid rgb(41,37,38);
	border-radius: 10px 0px 0px 10px;
	width: 160px;
	height: 15px;
	color:  rgb(41,37,38);
	outline: 0
}
input[type="submit"]{
	border: 0;
	cursor: pointer;
	background: rgb(41,37,38);
	border-radius: 0px 10px 10px 0px;
	color: #fff; 
	right: 5px;
	position: relative;
	height: 41px;
	width: 40px;
}
.result{
	font-size: 12px;
	font-weight: bold;
	margin-top:10px;
}
.send-email, .share{
	margin: 10px 0;
	padding: 10px;
}
 .share p{
	font-size: 14px;
	margin-bottom: 15px;
}
ul.share li{
	list-style: none;
	display: inline-block;
	margin: 3px;
	text-indent: -9999px;
}
ul.share li a{
	display: block;
	height: 50px;
	width: 50px;
}
ul.share li a#fb{
	background: url(../images/facebook-b.png) 0 0 no-repeat;
}
ul.share li a#tw{
	background: url(../images/tw_32.png) 0 0 no-repeat;

}
ul.share li a#blog{
	background: url(../images/blog-b.png) 0 0 no-repeat;

}
footer{
	font-size: 12px;
	text-align: center;
	padding-bottom: 20px
}