*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
	border: 0;
}
a{
	color: #999;
	text-decoration: none;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
body{
	background: #fff;
	border-top: 5px solid rgb(41,37,38);
	font: 20px/24px 'Open Sans' "Helvetica Neue",helvetica,arial,sans-serif;
	color: #444;
	line-height: 1.35;
}
section{
	background: #fff;
	margin: 100px auto;
	padding:10px;
	max-width: 600px;
	text-align: center;
}
section h1{
	font-size: 15px;
	text-transform: uppercase;
	line-height: 2.5em;
}
section span{
	font-size: 13px;
	letter-spacing: 1px;
}
 input[type="email"]{
	padding: 10px;
	border: 1px solid rgb(41,37,38);
	font-size: 14px;
	width: 160px;
	color:  rgb(41,37,38);

}
input[type="submit"]{
	border: 0;
	cursor: pointer;
	padding: 11px;
	background: rgb(41,37,38);
	color: #fff; 
	font-size: 14px;
	text-transform: uppercase;

}
.send-email, .share{
	margin: 20px 0;
	padding: 10px;
}
 .share h3{
	font-size: 14px;
	margin-bottom: 15px;
}
ul.share li{
	list-style: none;
	display: inline-block;
	margin: 3px;
	text-indent: -9999px;
}
ul.share li a{
	display: block;
	height: 35px;
	width: 35px;
	opacity: .5
}
ul.share li a:hover{
	opacity: 1;
}
ul.share li a#fb{
	background: url(../images/fb_32.png) 0 0 no-repeat;
}
ul.share li a#tw{
	background: url(../images/tw_32.png) 0 0 no-repeat;

}
